# [2021 카카오 채용연계형 인턴십]

# 숫자 문자열과 영단어

네오와 프로도가 숫자놀이를 하고 있습니다. 네오가 프로도에게 숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

    1478 → "one4seveneight"
    234567 → "23four5six7"
    10203 → "1zerotwozero3"
    
이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나, 혹은 바뀌지 않고 그대로인 문자열 s가 매개변수로 주어집니다. s가 의미하는 원래 숫자를 return 하도록 solution 함수를 완성해주세요.

참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

    숫자	영단어
    0	  zero
    1	  one
    2	  two
    3	  three
    4	  four
    5	  five
    6	  six
    7	  seven
    8	  eight
    9	  nine

<제한 사항>
- 1 ≤ s의 길이 ≤ 50
- s가 "zero" 또는 "0"으로 시작하는 경우는 주어지지 않습니다.
- return 값이 1 이상 2,000,000,000 이하의 정수가 되는 올바른 입력만 s로 주어집니다.

Solution 1 str의 replace() 활용한 문제 풀이

In [46]:
def solution(s):
    
    answer = s    
    num = {"zero":'0', "one":'1', "two":'2', "three":'3', "four":'4', "five":'5', 
           "six":'6', "seven":'7', "eight":'8', "nine":'9'} 

    for key, value in num.items():
            answer = answer.replace(key, value)
                    
    return int(answer)

Solution 2 replace() 사용하지 않은 문제 풀이

In [47]:
def solution(s):
    
    answer = []
    
    num = {"zero":'0', "one":'1', "two":'2', "three":'3', "four":'4', "five":'5', 
           "six":'6', "seven":'7', "eight":'8', "nine":'9'} 
    curr = 0 
    
    while curr < len(s):
        if s[curr] in ['0','1','2','3','4','5','6','7','8','9'] :
            answer.append(s[curr])
            curr += 1
            
        else:
            for key in num.keys():
                if s[curr: curr+2] in key:
                    answer.append(num[key])
                    curr += len(key)
                    break   
                    
    return int("".join(answer))

Solution 3

In [51]:
def solution(s):

    answer = s
    num = ["zero", "one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]
    
    for i, n in enumerate(num):
        answer = answer.replace(n, str(i))
        
    return int(answer)

In [52]:
solution("one4seveneight")

1478